<% provide(:title, @user.name) %>
<% content_for :head, auto_discovery_link_tag(:atom, user_url(@user, format: "atom")) %>
<div class="row">
  <aside class="span4">
	<section>
	  <h1>
	    <%= gravatar_for @user %>
	    <%= @user.name %>
	  </h1>
	</section>
	<section>
	        <%= render 'shared/stats' %>
	</section>
  </aside>
  
  	<%= render 'follow_unfollow_form' if signed_in? %>
	<%= link_to image_tag("feed-icon-28x28.png", class:"feedimage"),
											 user_url(@user, format: "atom") %>
	<% if @user.microposts.any? %> 
		<div class="span8">
			<h3>Microposts(<%= @user.microposts.count %>)</h3>
			<ol class="microposts">
				<%= render @microposts %>
			</ol>
			<%= will_paginate @microposts %>
		</div>
	<% end %>
</div>

